{% extends "base.html" %}

{% block content %}
    <main>
        <h1>My Accounts</h1>
        <table>
            <tr>
                <th>Name</th>
                <th>Number</th>
                <th>Number of receipts</th>
            </tr>
            {% for acct in accounts %}
                <tr>
                    <td>{{ acct.name }}</td>
                    <td>{{ acct.number }}</td>
                    <td>{{ acct.receipts.count }}</td>
                </tr>
            {% endfor %}
        </table>
    </main>
{% endblock content %}
