{% extends "base.html" %}

{% block content %}
    <main>
        <h1>My Expense Categories</h1>
        <table>
            <tr>
                <th>Name</th>
                <th>Number of receipts</th>
            </tr>
            {% for cat in categories %}
                <tr>
                    <td>{{ cat.name }}</td>
                    <td>{{ cat.receipts.count }}</td>
                </tr>
            {% endfor %}
        </table>
    </main>
{% endblock content %}
